<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.1.xsd">
		
	<!-- 扫描所有带有 @Service
	@Component
	@Repository 
	@Controller
	的class 然后实例化他们-->
	
	<context:component-scan base-package="com.doocker.controller"/>
	
	<!-- 匹配根绝访问路径 和@RequestMapping("path")中的path  根据访问的路径找controller中的方法（handler） -->
	
	<mvc:annotation-driven />
	
	<!-- 配置视图解析器， 根据返回的视图名称 找到jsp 并且根据数据和jsp生成网页 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 指定视图路径前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		<!-- 指定视图路径后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
	
</beans>